extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main 
    +alert-success(5000)
    +alert-error(5000)
    div.loginarea.sp_bottom_80.sp_top_80
        div.container
            div.row
                div.col-xl-8.offset-md-2.loginarea__col
                    

                    div.tab-content.tab__content__wrapper(id="myTabContent")
                        div.tab-pane.fade.active.show(id="projects__one", role="tabpanel", aria-labelledby="projects__one")
                            div.col-xl-8.offset-md-2.loginarea__col
                                div.loginarea__wraper
                                    div.loginarea__heading
                                        h5.login__title Đổi mật khẩu

                                    form(action = `/user/changePassword`
                                        method="POST"
                                    )

                                        div.loginarea__form
                                            label.form__label Mật khẩu hiện tại
                                            input.common__login__input(type="password", placeholder="Nhập mật khẩu hiện tại" name="currentPassword")
                                        div.loginarea__form
                                            label.form__label Mật khẩu mới
                                            input.common__login__input(type="password", placeholder="Nhập mật khẩu mới" name="newPassword")
                                        div.loginarea__form
                                            label.form__label Xác nhận mật khẩu mới
                                            input.common__login__input(type="password", placeholder="Nhập lại mật khẩu mới" name="confirmPassword")

                                        div.loginarea__button.text-center
                                            button.default__button(type="submit") Đổi mật khẩu