//- footer.footer.cart.text-center.card-header
//-             p #{settingGeneral.copyright}
//-             p 
//-                 |   
.footer
    .footer__inner.sp_top_80
        .container.sp_bottom_20
            .row
                .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12
                    .footer__widget
                        h4.footer__title Giới thiệu về chúng tôi.
                        .footer__content
                            p Chào mừng đến với <b>TuanStore </b>, nơi mang đến cho bạn những bộ quần áo thời trang, phong cách và chất lượng nhất. Chúng tôi cam kết cung cấp sản phẩm đa dạng, từ trang phục hàng ngày đến những bộ sưu tập độc đáo, giúp bạn thể hiện phong cách cá nhân một cách hoàn hảo.
                        .footer__social__icon
                            ul
                                li
                                    a(target="_blank", title="Facebook-f", href="https://www.facebook.com/shopify")
                                        i.fab.fa-facebook-f
                                li
                                    a(target="_blank", title="Twitter", href="https://twitter.com/shopify")
                                        i.fab.fa-twitter
                                li
                                    a(target="_blank", title="Youtube", href="https://www.youtube.com/user/shopify")
                                        i.fab.fa-youtube
                                li
                                    a(target="_blank", title="Instagram", href="https://www.instagram.com/shopify/")
                                        i.fab.fa-instagram
                                li
                                    a(target="_blank", title="Tiktok", href="https://www.tiktok.com/@shopify")
                                        i.fab.fa-tiktok
                        .footer__bottom
                            h5 Hotline: #{settingGeneral.phone}
                            .footer__img
                                ul
                                    li
                                        img(src="img/footer/footer__1.svg", alt="")
                                    li
                                        img(src="img/footer/footer__2.svg", alt="")
                                    li
                                        img(src="img/footer/footer__3.svg", alt="")
                                    li
                                        img(src="img/footer/footer__4.svg", alt="")
                                    li
                                        img(src="img/footer/footer__5.svg", alt="")
                                    li
                                        img(src="img/footer/footer__6.svg", alt="")
                .col-xl-2.col-lg-2.col-md-6.col-sm-4.col-6
                    .footer__widget
                        h4.footer__title Quick Link
                        .footer__menu
                            ul
                                li
                                    a(href="#") Tài khoản
                                li
                                    a(href="#") Giỏ hàng
                                li
                                    a(href="#") Yêu thích
                .col-xl-2.col-lg-2.col-md-6.col-sm-4.col-6
                    .footer__widget
                        h4.footer__title Thông tin
                        .footer__menu
                            ul
                                li
                                    a(href="https://marinothemes.com/account") Giới thiệu về chúng tôi
        .copyright
            .container
                .row
                    .col-12.text-center
                        .copyright__text
                            p #{settingGeneral.copyright}