mixin filter-status(filterStatus)
    .d-flex.flex-wrap.gap-2
        each item in filterStatus
            button(
                class=`btn btn-sm btn-outline-success ${item.class}`
                button-status=item.status
            ) 
                i(class="bi bi-filter")
                span #{item.name}