extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
include ../../mixins/featured.pug
block main  
    +alert-error(5000)
    +alert-success(5000)
    
    div.banner.sp_top_80.sp_bottom_80
        .container
            .row
                .col-xl-6.col-lg-6.col-md-6.col-12
                    .banner__img
                        img(src="image/banner/banner__1.png" alt="")
                        .banner__info
                            h2
                                a(href="/products/thoi-trang-nam") Thời trang nam
                            .banner__button
                                a.default__button.btn__black(href="/products/thoi-trang-nam") Mua ngay
                .col-xl-6.col-lg-6.col-md-6.col-12
                    .banner__img
                        img(src="image/banner/banner__2.png" alt="")
                        .banner__info
                            h2
                                a(href="/products/thoi-trang-nu") Thời trang nữ
                            .banner__button
                                a.default__button.btn__black(href="/products/thoi-trang-nu") Mua ngay
    div.best__selling.sp_bottom_80
        .container
            .row
                .col-xl-6.col-lg-6.col-md-6.col-sm-6.col-12
                    .section__title
                        h2 Sản phẩm mới 
                .col-xl-6.col-lg-6.col-md-6.col-sm-6.col-12
                    .best__selling__tab
                        ul.nav.best__selling__tab__wrap(id="myTab" role="tablist")
                            li.nav-item(role="presentation")
                                button.product__tap__link.active(data-bs-toggle="tab" data-bs-target="#projects__one" type="button") Nam
                            li.nav-item(role="presentation")
                                button.product__tap__link(data-bs-toggle="tab" data-bs-target="#projects__two" type="button") Nữ
                            li.nav-item(role="presentation")
                                button.product__tap__link(data-bs-toggle="tab" data-bs-target="#projects__three" type="button") Phụ kiện
            .tab-content(id="myTabContent")
                .tab-pane.fade.active.show(id="projects__one" role="tabpanel" aria-labelledby="projects__one")
                    .row.grid__responsive
                        +product-grid(productMan)
                .tab-pane.fade( id="projects__two" role="tabpanel" aria-labelledby="projects__two")
                    .row.grid__responsive
                      +product-grid(productWoment)
                .tab-pane.fade( id="projects__three" role="tabpanel" aria-labelledby="projects__three")
                    .row.grid__responsive
                        +product-grid(productAccessory)
                        
    div.feture__section.sp_top_80.sp_bottom_80
        .container
            .row
                .col-xl-12
                    .section__title.text-center
                        h2 Sản phẩm nổi bật
            .row.grid__responsive.row__custom__class.feature__slider__active.slider__default__arrow
                +featured(productsFeatured)
                



