extends ../../layouts/default.pug
block main
    .about.sp_top_80.sp_bottom_80
      .container
        .row
          .col-xl-6.col-lg-6.col-md-12.col-12
            .about__text
              h2 TuanStore
                span.primary__color Thời Trang
              p TuanStore là một nền tảng thương mại điện tử chuyên cung cấp các sản phẩm thời trang cao cấp, từ quần áo, giày dép đến phụ kiện, phục vụ cho mọi đối tượng khách hàng. Được thành lập vào năm 2021, TuanStore đã nhanh chóng trở thành điểm đến ưa thích cho những tín đồ yêu thích thời trang.
              p Sứ mệnh của chúng tôi là mang đến cho khách hàng những sản phẩm chất lượng nhất với giá cả hợp lý, đồng thời tạo ra trải nghiệm mua sắm trực tuyến thuận tiện và dễ dàng. Chúng tôi cam kết không ngừng cải tiến dịch vụ và mở rộng danh mục sản phẩm để đáp ứng nhu cầu ngày càng cao của khách hàng.
          .col-xl-6.col-lg-6.col-md-12.col-12
            .about__img
              img(src="image/about__1.jpg", alt="About Image")

    //- Video Banner Section
    .video.sp_bottom_80
      .container
        .row
          .col-xl-12
            .video__img
              img(src="image/video-banner__1.jpg", alt="Video Banner Image")
              .video__icon
                a.video-btn(href="https://www.youtube.com/watch?v=JQpk-DoMn3I")
                  i.fa.fa-play